In [1]:
import numpy as np
import pandas as pd
import sqlite3

In [3]:
conn = sqlite3.connect('/Users/sominwadhwa/database.sqlite')
cur = conn.cursor()

In [10]:
countries = pd.read_sql_query("SELECT id,name from Country",conn)
matches = pd.read_sql_query("SELECT * from Match", conn)
leagues = pd.read_sql_query("SELECT * from League",conn)
teams = pd.read_sql_query("SELECT * from Team",conn)

In [12]:
major_league_countries = ['England','France','Germany','Italy','Spain']
countries = countries[countries.name.isin(major_league_countries)]
countries.head()

      id     name
0      1  Belgium
1   1729  England
2   4769   France
3   7809  Germany
4  10257    Italy